VITE_SUPABASE_URL=https://dnskvumoyqalsrbcyyjy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRuc2t2dW1veXFhbHNyYmN5eWp5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mjg5MTU1NywiZXhwIjoyMDg4NDY3NTU3fQ.WC5nwi27yj2As1ww01LZySX3zQPkrGXdnA-hoBz6eHM
VITE_N8N_BASE_URL=https://n8n.srv1469471.hstgr.cloud/webhook
